# 자료형(Data Type)

## String

In [ ]:
# 문자열
st = "안녕하세요."
st2 = "반갑습니다."

print(st)
print(st2)

안녕하세요.
반갑습니다.

In [ ]:
# 타입 확인
type(st)

str

In [ ]:
# 문자열 내 따옴표
print("'안녕하세요.' 라고 말했습니다.")
print("\"안녕하세요\"라고 말했습니다.")

'안녕하세요.' 라고 말했습니다.
"안녕하세요"라고 말했습니다.

In [ ]:
# 이스케이프 문자
print("이름\t나이\t지역")
print("===================")
print("김동훈\t20\t서울")
print("김형식\t20\t분당")
print("이현지\t20\t죽전")

이름	나이	지역
===================
김동훈	20	서울
김형식	20	분당
이현지	20	죽전

In [ ]:
# 이스케이프 문자2 (window 파일경로)
# 에러 발생: print("C:\User\tmp\")
print("C:\\User\\tmp\\")

C:\User\tmp\

In [ ]:
# 여러 줄 쓰기(\n)
print("동해물과 백두산이 마르고 닳도록\n하느님이 보우하사 우리나라 만세\n무궁화 삼천리 화려강산\n대한사람 대한으로 길이 보전하세.")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.

In [ ]:
# 여러 줄 쓰기(""" """)
print("""
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.
""")

print('''
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.
''')

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.


동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.

In [ ]:
# 여러 줄 쓰기(공백제거)
print("""\
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.\
""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산
대한사람 대한으로 길이 보전하세.

In [ ]:
# 문자열 연산자 : +, *
print("안녕하세요. " + "반갑습니다.")
print("안녕하세요." * 3)

안녕하세요. 반갑습니다.
안녕하세요.안녕하세요.안녕하세요.

In [ ]:
# 문자열 인덱싱
print("문자열 인덱싱에 대해 알아볼까요?")
print("안녕하세요."[0])
print("안녕하세요."[1])
print("안녕하세요."[2])
print("안녕하세요."[3])
print("안녕하세요."[4])
print("안녕하세요."[5])

문자열 인덱싱에 대해 알아볼까요?
안
녕
하
세
요
.

In [ ]:
# 문자열 인덱싱(역순)
print("문자열 인덱싱에 대해 알아볼까요?")
print("안녕하세요."[-6])
print("안녕하세요."[-5])
print("안녕하세요."[-4])
print("안녕하세요."[-3])
print("안녕하세요."[-2])
print("안녕하세요."[-1])

문자열 인덱싱에 대해 알아볼까요?
안
녕
하
세
요
.

In [ ]:
# 문자열 슬라이싱
print("안녕하세요"[1:4])
print("안녕하세요"[:4])
print("안녕하세요"[2:])

녕하세
안녕하세
하세요

In [ ]:
# 문자열 길이
print(len("안녕하세요"))

5

## Number

In [ ]:
# 정수 나누기 연산자 : //
print("3 / 2 = ", 3/2)
print("3 // 2 = ", 3//2)

3 / 2 =  1.5
3 // 2 =  1

In [ ]:
# 나머지 연산자
print("5 % 2 = ", 5%2)

5 % 2 =  1

In [ ]:
# 제곱 연산자
print("2 ** 1 = ", 2**1)
print("2 ** 2 = ", 2**2)
print("2 ** 3 = ", 2**3)
print("2 ** 4 = ", 2**4)

2 ** 1 =  2
2 ** 2 =  4
2 ** 3 =  8
2 ** 4 =  16

In [ ]:
# 변수 선언과 할당
pi = 3.141592265
r = 10

# 변수 참조
print("원주율  = ", pi)
print("반지름 = ", r)
print("원의 둘레 = ", 2*pi*r)
print("원의 넓이 = ", pi*r*r)

원주율  =  3.141592265
반지름 =  10
원의 둘레 =  62.8318453
원의 넓이 =  314.1592265

In [ ]:
# 복합대입 연산자(숫자)
number = 100
number += 10
number += 20
number += 30
print("number : ", number)

number :  160

In [ ]:
# 복합대입 연산자(문자열)
string = "안녕하세요"
string += "!"
string += "!"
print("string : ", string)

string :  안녕하세요!!

In [ ]:
# cast (문자열 -> 숫자)
string_a = "1024"
int_a = int(string_a)

string_b = "1004"
int_b = int(string_b)

print("문자열 자료: ", string_a + string_b)
print("숫자 자료: ", int_a + int_b)

문자열 자료:  10241004
숫자 자료:  2028

In [ ]:
# int(), float()
output_a = int("52")
output_b = float("52.273")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

In [ ]:
# int 함수와 float 함수 조합
int_a = int(273)
int_b = int(52)
float_c = float(273)
float_d = float(52)

print("int_a / int_b= ", int_a/int_b)
print("int_a // int_b= ", int_a//int_b)
print("float_c / float_d ", float_c/float_d)

int_a / int_b=  5.25
int_a // int_b=  5
float_c / float_d  5.25

In [ ]:
int("안녕하세요.")
float("안녕하세요.")

ValueError: ignored

In [ ]:
# 대소문자 변환
a = "Hello Python Programming...!"
print(a.upper())
print(a.lower())

HELLO PYTHON PROGRAMMING...!
hello python programming...!

In [ ]:
# 문자열 공백 제거
a = """
       안녕하세요.
문자열의 함수를 알아봅니다.
"""
print(a)
print(a.strip())

       안녕하세요.
문자열의 함수를 알아봅니다.

안녕하세요.
문자열의 함수를 알아봅니다.

In [ ]:
# 문자열 찾기
a = "안녕안녕하세요"
print(a.find("안녕"))
print(a.rfind("안녕"))

0
2

In [ ]:
# 문자열 in 연산자
print("안녕" in "안녕하세요.")
print("잘자" in "안녕하세요.")

True
False

In [ ]:
# 문자열 자르기
a = "10 20 30 40 50 60"
print(a.split(" "))

['10', '20', '30', '40', '50', '60']

In [ ]:
print(1 == True)
print(0 == False)
print(0 == True)

True
True
False

In [ ]:
0 == True

False

In [ ]:
# 비교 연산자
print("가방" == "가방")
print("가방" < "하마")
print("가방" > "하마")

True
True
False

In [ ]:
# 논리 연산자
print(not True)
print(not False)

print(True and True)
print(True and False)

print(True or True)
print(True or False)

False
True
True
False
True
True

In [ ]:
# 조건문
if True:
  print("True 입니다.")
if False:
  print("False 입니다.")

print("Default 문장입니다.")

True 입니다.
Default 문장입니다.

In [ ]:
# if~else
number = input("정수입력> ")
number = int(number)

if number % 2 == 0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

정수입력> 13
홀수입니다.

In [ ]:
# if~elif (계절 구하기)
import datetime

now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
  print("현재는 봄 입니다.")
elif 6 <= month <= 8:
  print("현재는 여름 입니다.")
elif 9 <= month  <= 11:
  print("현재는 가을 입니다.")
else:
  print("현재는 겨울 입니다.")

현재는 봄 입니다.

In [ ]:
# pass
number = 13

if number > 0:
  pass
else:
  pass

In [ ]:
# raise NotImpementedError
# pass
number = 13

if number > 0:
  raise NotImplementedError("구현필요")
else:
  raise NotImplementedError("구현필요")

NotImplementedError: ignored

In [ ]:
# 리스트
array = [273, 32, 103, "문자열", True, False]
print(array)

[273, 32, 103, '문자열', True, False]

In [ ]:
print("array[0] : ", array[0])
print("array[3][0] : ", array[3][0])
print("array[-1] : ", array[-1])

array[0] :  273
array[3][0] :  문
array[-1] :  False

In [ ]:
array = [[1,2,3,4], [5,6,7,9]]
array_dict = [{"array": 1, "arr": 2}, {"python": 3}]

In [ ]:
print(array)
print(array_dict)

[[1, 2, 3, 4], [5, 6, 7, 9]]
[{'array': 1, 'arr': 2}, {'python': 3}]

In [ ]:
# 리스트 연산자
list_a = [1,2,3]
list_b = [4,5,6]

# 연결 연산자 +
print("list_a + list_b = ", list_a + list_b)

# 반복 연산자 *
print("list_a * 3 = ", list_a * 3)

# 리스트 길이 len
print("length of list : ", len(list_a))

list_a + list_b =  [1, 2, 3, 4, 5, 6]
list_a * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]
length of list :  3

In [ ]:
# 리스트 요소 추가
list_a = [1,2,3]
list_a.append(4)
print(list_a)

list_a.insert(2, 5)
print(list_a)

[1, 2, 3, 4]
[1, 2, 5, 3, 4]

In [ ]:
# 리스트 연결 연산자
list_a = [1,2,3]
list_b = [4,5,6]

print("list_a + list_b = ", list_a + list_b)
print("list_a : ", list_a)
print("list_b : ", list_b)
print("list_a.extend(list_b) = ", list_a.extend(list_b))
print("list_a after extend : ", list_a)

list_a + list_b =  [1, 2, 3, 4, 5, 6]
list_a :  [1, 2, 3]
list_b :  [4, 5, 6]
list_a.extend(list_b) =  None
list_a after extend :  [1, 2, 3, 4, 5, 6]

In [ ]:
# append vs. extend
list_a = [1,2,3]
list_b = [4,5,6]

list_c = []
list_c.append(list_a)
list_c.append(list_b)
print(list_c)

list_c = []
list_c.extend(list_a)
list_c.extend(list_b)
print(list_c)

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 요소 제거
list_a = [1,2,3]
del list_a[:2]
print(list_a)

[3]

In [ ]:
list_a = [1,2,3]
list_a.pop(2)
print(list_a)

[1, 2]

In [ ]:
list_a = [1,2,3]
list_a.remove(2)
print(list_a)

[1, 3]

In [ ]:
# 리스트에 요소 있는지 확인
list_a = [1,2,3]
print(3 in list_a)
print(5 in list_a)

True
False

In [ ]:
# 딕셔너리
a = {
    "키A" : 10,
     "키B" : 20,
     "키C" : 30,
     1 : 40,
     False: 50
}

print(a["키A"])

10

In [ ]:
a = {
    "키A" : 10,
     "키B" : 20,
     "키C" : 30,
     1 : 40,
     False: 50,
     "키D" : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
}
print(a['키D'][0])

망고

In [ ]:
# 딕셔너리 요소 추가/제거
dictionary = {}
dictionary["name"] = "새로운 이름"
dictionary["head"] = "새로운 정신"
dictionary["body"] = "새로운 몸"

print(dictionary)

del dictionary["name"]
print(dictionary)

{'name': '새로운 이름', 'head': '새로운 정신', 'body': '새로운 몸'}
{'head': '새로운 정신', 'body': '새로운 몸'}

In [ ]:
# 딕셔너리 요소 확인
a = {
    "키A" : 10,
     "키B" : 20,
     "키C" : 30,
     1 : 40,
     False: 50,
     "키D" : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
}

print("키A" in a)

True

In [ ]:
# for 반복문
for i in range(5):
  print(str(i) + "=반복 변수")
print()

for i in range(5, 10):
  print(str(i) + "=반복 변수")
print()

for i in range(0, 10, 3):
  print(str(i) + "=반복 변수")
print()

0=반복 변수
1=반복 변수
2=반복 변수
3=반복 변수
4=반복 변수

5=반복 변수
6=반복 변수
7=반복 변수
8=반복 변수
9=반복 변수

0=반복 변수
3=반복 변수
6=반복 변수
9=반복 변수

In [ ]:
# for 반복문 (element, key로 반복하기)
list_a = [1,2,3]

for elem in list_a:
  print(elem)
print()

dict_a = {
    "키A" : 10,
     "키B" : 20,
     "키C" : 30,
     1 : 40,
     False: 50,
     "키D" : ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
}

for key in dict_a:
  print(str(key), " : ", str(dict_a[key]))

1
2
3

키A  :  10
키B  :  20
키C  :  30
1  :  40
False  :  50
키D  :  ['망고', '설탕', '메타중아황산나트륨', '치자황색소']

In [ ]:
# while 반복문
i = 0
while i < 10:
  print(f"{i}번째 반복입니다.")
  i += 1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [ ]:
# while 반복문 break

i = 0
while True:
  print("반복 중..")
  if (i != 0) & (i % 5 == 0):
    break;
  i += 1

반복 중..
반복 중..
반복 중..
반복 중..
반복 중..
반복 중..

In [ ]:
# 함수 기본 형태
def 함수이름(매개변수, 매개변수, ...):
    문장

In [ ]:
# 리턴값이 없는 형태
def print_n_times(n, *values, flush=False):
  for i in range(n):
    for value in values:
      print(value)
    print()
  
print_n_times(3, "안녕하세요", "즐거운", "파이썬 프로그래밍")

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

In [ ]:
# 리턴값이 있는 형태
def sum_all(start=0, end=100, step=1):
  output = 0
  for i in range(start, end+1, step):
    output += i
    
  return output

print("A : ", sum_all(0,100,10))
print("B : ", sum_all(end=100))
print("C : ", sum_all(end=100, step=2))

A :  550
B :  5050
C :  2550

In [ ]:
# 클래스
class Rectangle:
  count = 0         # 클래스 변수

  def __init__(self, width, height):
    self.width = width
    self.height = height
    self._area = width * height
    Rectangle.count += 1
  
  # 인스턴스 메소드
  def calcArea(self):
    area = self.width * self.height
    return area

  @staticmethod
  def isSquare(rectWidth, rectHeight):
    return rectWidth == rectHeight
  
  @classmethod
  def printCount(cls):
    print(cls.count)

In [ ]:
square = Rectangle.isSquare(5,5)
print(square)

rect1 = Rectangle(5,5)
rect2 = Rectangle(2,5)
rect1.printCount()